.form-wrap {

  h3 {
    font-weight: 500;
  }

  form {
    -webkit-box-shadow: 0px 0px 45px -4px rgba(232,229,232,0.97);
    -moz-box-shadow: 0px 0px 45px -4px rgba(232,229,232,0.97);
    box-shadow: 0px 0px 45px -4px rgba(232,229,232,0.97);
    padding: 20px;
    background: ghostwhite;
    margin: 40px 0 60px 0;
    border-radius: 5px;
    

    @media screen and (min-width: 768px) {
      padding: 40px;
    }
  }
  .name,
  .email,
  .message {
    label {
      display: block;
      padding-bottom: 10px;
      color: grey;
    }
    input,
    textarea {
      width: 100%;
      border: 0;
      border-bottom: 1px solid lightgrey;
      margin-bottom: 40px;
      font-size: 18px;
      background-color: ghostwhite;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        border-bottom: 2px solid #28B3EA;
        outline: transparent;
      }
    }

    input {
      height: 40px;
     
    }

    input[type=submit] {
      background-color: ghostwhite;
    }
  }
}