.hero-wrap {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 172px;
  
    @media screen and (min-width: 576px) {
      margin-bottom: 40px;
      min-height: 260px;
    }

    @media screen and (min-width: 992px) {
      margin-bottom: 60px;
      min-height: 280px;
    }
  }

  .intro-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 0;
  
    h1 {
      background: rgb(1,162,247);
      background: -webkit-linear-gradient(rgba(1,162,247,1), rgba(125,247,182,1));
      font-size: 60px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // margin-top: auto;
     
  
      @media screen and (min-width: 768px) {
        font-size: 90px;
        text-align: left;
      }
  
      @media screen and (min-width: 1600px) {
        font-size: 100px;
        text-align: left;
      }
    
    }
  
    h3 {
      color: white;
      font-size: 40px;
      // margin-top: auto;
      margin-bottom: 0;
  
      @media screen and (min-width: 768px) {
        font-size: 80px;
        text-align: left;
      }
    }
  }
  
  .gradient-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    background: linear-gradient(180deg,transparent 45%,#0e0e0eb8);
  }